{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf130
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red0\green0\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\deftab720
\pard\pardeftab720\partightenfactor0

\f0\fs22 \cf2 include LICENSE\
include README.rst\
recursive-exclude reusable *.pyc\
recursive-include reusable_blog *.css\
recursive-include reusable_blog *.html\
recursive-include reusable_blog *.py}